<%= provide(:title, 'Documents') %>
<div class="document-index">
	<div class="row-fluid">
		<div class="span6">
		    <div class="span12">
		        <h3>Governing Documents</h3>
		        <% @documents_rules.each do |document| %>
					<p><%= link_to document.title, document.path %> <%= link_to image_tag('pdf.png'), document.path %></p>
				<% end %>
			</div>
		</div>
		<div class="span6">
			<div class="span12 minutes">
				<h3>Meeting Minutes</h3>
				<% @documents_meeting.each do |document| %>
					<p><%= link_to document.title, document.path %> <%= link_to image_tag('pdf.png'), document.path %></p>		
				<% end %>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<div class="span12">
				<h3>Reserve Study</h3>
				<% @documents_other.each do |document| %>
					<p><%= link_to document.title, document.path %> <%= link_to image_tag('pdf.png'), document.path %></p>		
				<% end %>
			</div>
		</div>
	</div>
</div>