<%= render 'layouts/user_nav' %>
<h3><%= image_tag('welcome.jpg') %></h3>
<p><%= link_to "Home", root_path %></p>
<p><%= link_to "Location", location_path %></p>
<p><%= link_to "Questions/Comments", contact_path %></p>
<h3><%= image_tag('residents.jpg') %></h3>
<p><%= link_to "Board Memebers", '#' %></p>
<p><%= link_to "Residents", '#' %></p>
<p><%= link_to "Documents", documents_path %></p>