<%= render 'layouts/user_nav' %>
<h3>Welcome </h3>
<p><%= link_to "Home", root_path %></p>
<p><%= link_to "Location", location_path %></p>
<p><%= link_to "Questions / Comments", contact_path %></p>
<h3>Residents</h3>
<p><%= link_to "Board Members", board_members_path%></p>
<p><%= link_to "Documents", documents_path %></p>
<p><%= link_to "Issues/Concerns", issues_concerns_path %></p>
<p><%= link_to "Building Updates", updates_path %></p>