<!DOCTYPE html>
<html>
<head>
  <title>Saint Lukes Lofts Homeownders Association</title>
  		<%= favicon_link_tag "favicon.ico" %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>
	     <div class="container">
	 		<div class="row-fluid banner">
				<div id="main-image"><h1><span></span>Saint Lukes Lofts</h1></div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2 left-side-bar">
					<div class="span12">
						<p><%= link_to "Login", '#'%> | <%= link_to "Register", '#'%></p>
						<h3><%= image_tag('welcome.jpg') %></h3>
						<p><%= link_to "Home", '#' %></p>
						<p><%= link_to "Location", '#' %></p>
						<p><%= link_to "Contact Us", '#' %></p>
						<h3><%= image_tag('residents.jpg') %></h3>
						<p><%= link_to "Board Memebers", '#' %></p>
						<p><%= link_to "Residents", '#' %></p>
						<p><%= link_to "Minutes", '#' %></p>
						<p><%= link_to "Documents", '#' %></p>
					</div>
				</div>
				<div class="span8">
					<%= yield %>
				</div>
				<div class="span2 right-side-bar">
					<div class="span12">
						<h3><%= image_tag('upcoming.jpg') %></h3>
						<p><%= image_tag('calendar.jpg') %></p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
