<!DOCTYPE html>
<html>
<head>
  <title>Saint Lukes Lofts Homeownders Association</title>
  		<%= favicon_link_tag "favicon.ico" %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>
	     <div class="container">
	     	<div class="span12">
	     		<div id="user_nav">
					<%= render 'layouts/topline_signin_bar' %>
	     		</div>
	     	</div>
	 		<div class="row-fluid banner">
				<div id="main-image"><h1><span></span>Saint Lukes Lofts</h1></div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2 left-side-bar">
					<div class="span12">
						<%= render 'layouts/left_side_bar' %>
					</div>
				</div>
				<div class="span7">
					<% flash.each do |name, msg| %>
				        <%= content_tag :div, msg, id: "flash_#{name}" %>
				    <% end %>
					<%= yield %>
				</div>
				<div class="span3 right-side-bar">
					<div class="span12">
						<h3>Upcoming Dates</h3>
						<% @event.each do |event| %>
							<div class="upcoming-events">
								<p><%= event.title %></p>
								<p><%= event.event_start.strftime("%b %d at %I:%M %p") %> in the <%= event.location %></p>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

