<!DOCTYPE html>
<html>
<head>
  <title>Saint Lukes Lofts Homeownders Association</title>
  		<%= favicon_link_tag "favicon.ico" %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>
	     <div class="container">
	     	<div class="span12">
	     		<div id="user_nav">
	     			<% if user_signed_in? %>
	     				Signed in as <%= current_user.email %>. Not you?
	     				<%= link_to "Sign Out", destroy_user_session_path %>
	     			<% else %>
	     				<%= link_to "Register", new_user_registration_path %> or
	     				<%= link_to "Sign In", new_user_session_path %>
	     			<% end %>
	     		</div>
	     	</div>
	 		<div class="row-fluid banner">
				<div id="main-image"><h1><span></span>Saint Lukes Lofts</h1></div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2 left-side-bar">
					<div class="span12">
						<p><% if user_signed_in? %>
	     				Signed in as <%= current_user.email %>. Not you?
	     				<%= link_to "Sign Out", destroy_user_session_path %>
	     			<% else %>
	     				<%= link_to "Register", new_user_registration_path %> or
	     				<%= link_to "Sign In", new_user_session_path %>
	     			<% end %></p>
						<h3><%= image_tag('welcome.jpg') %></h3>
						<p><%= link_to "Home", '#' %></p>
						<p><%= link_to "Location", '#' %></p>
						<p><%= link_to "Contact Us", '#' %></p>
						<h3><%= image_tag('residents.jpg') %></h3>
						<p><%= link_to "Board Memebers", '#' %></p>
						<p><%= link_to "Residents", '#' %></p>
						<p><%= link_to "Minutes", '#' %></p>
						<p><%= link_to "Documents", '#' %></p>
					</div>
				</div>
				<div class="span8 main-info">
					<% flash.each do |name, msg| %>
				        <%= content_tag :div, msg, id: "flash_#{name}" %>
				    <% end %>
					<%= yield %>
				</div>
				<div class="span2 right-side-bar">
					<div class="span12">
						<% if 2==2 %>
							<div id="admin-link">
								<h3>Administrative</h3>
								<p><%= link_to "Calendar", upcoming_events_path %>
							</div>
						<% end %>
						<h3><%= image_tag('upcoming.jpg') %></h3>
						<p><%= image_tag('calendar.jpg') %></p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

