<!DOCTYPE html>
<html>
<head>
  <title>Saint Lukes Lofts Homeownders Association</title>
  		<%= favicon_link_tag "favicon.ico" %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>
	     <div class="container">
	     	<div class="span12">
	     		<div id="user_nav">
	     			<%= render 'layouts/user_nav' %>
	     		</div>
	     	</div>
	 		<div class="row-fluid banner">
				<div id="main-image"><h1><span></span>Saint Lukes Lofts</h1></div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2 left-side-bar">
					<div class="span12">
						<%= render 'layouts/left_side_bar' %>
					</div>
				</div>
				<div class="span8">
					<% flash.each do |name, msg| %>
				        <%= content_tag :div, msg, id: "flash_#{name}" %>
				    <% end %>
					<%= yield %>
				</div>
				<div class="span2 right-side-bar">
					<div class="span12">
						<% if 2==2 %>
							<div id="admin-link">
								<h3>Administrative</h3>
								<p><%= link_to "Calendar", upcoming_events_path %>
							</div>
						<% end %>
						<h3><%= image_tag('upcoming.jpg') %></h3>
						<p><%= image_tag('calendar.jpg') %></p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

